@use './mixins';

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 184px;
}

.footer-container {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(239, 239, 239, 1);

    &__text {
        width: 1057px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        @include mixins.media-query('1074px') {
            width: 700px;
        }

        @include mixins.media-query('720px') {
            width: 500px;
            flex-direction: column;
            gap: 5px;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 10px;
            line-height: 14px;
            color: rgba(130, 130, 130, 1);

            @include mixins.media-query('500px') {
                padding-left: 3%;
                padding-right: 3%;
                text-align: center;
            }

            &:last-of-type {
                text-align: right;

                @include mixins.media-query('1074px') {
                    display: none;
                }
            }
        }
    }

}

.footer-contact-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1057px;
    height: 120px;

    @include mixins.media-query('1074px') {
        justify-content: center;
        gap: 30px;
        width: 700px;
    }


    @include mixins.media-query('720px') {
        width: 100%;
    }

    @include mixins.media-query('500px') {
        flex-direction: column;
    }

    &__adress {
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: black;
        width: 227px;


        @include mixins.media-query('1074px') {
            font-size: 12px;
            width: auto;
            text-align: center;
        }

    }

    &__contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        align-items: center;

        @include mixins.media-query('1074px') {
            gap: 10px;
            width: 100%;
        }

        @include mixins.media-query('720px') {
            display: none;
        }

        p {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 18px;
            color: black;

            @include mixins.media-query('1074px') {
                font-size: 12px;
            }

        }

        button {
            width: 170px;
            height: 40px;
            border-radius: 40px;
            border-color: rgba(102, 192, 93, 1);
            border-style: solid;

            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__smedia-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        &__circle {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            border: 1px solid rgba(102, 192, 93, 1);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}