@use './mixins';
main {
    nav {
        width: 675px;
        align-self: center;
        height: 79px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;


        @include mixins.media-query('720px') {
            width: 100%;
            padding-left: 3%;
            padding-right: 3%;
        }

        @include mixins.media-query('500px') {
            display: none;
        }

        a {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
        }
    }
}