@use './mixins';

.special-offers-section {
    height: 954px;
    width: 100%;
    background-color: rgba(239, 239, 239, 1);
    display: flex;
    justify-content: center;

    @include mixins.media-query('830px') {
        height: auto;
    }

    &__container {
        margin-top: 80px;
        margin-bottom: 132px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @include mixins.media-query('1120px') {
            width: 70%;
            align-items: center;
        }

        h3 {
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;

            @include mixins.media-query('500px') {
            text-align: center;
            }
        }

        &__item-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 30px;

            @include mixins.media-query('830px') {
                flex-direction: column;
                margin-top: 30px;
                margin-bottom: 70px;
            }

            &__item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                background-color: white;
                width: 255px;
                height: 363px;

                @include mixins.media-query('1120px') {
                    width: 180px;
                }

                img {
                    width: 125px;
                    height: 166px;
                }

                p {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    color: rgba(51, 51, 51, 1);
                    width: 195px;
                    text-align: center;
                }

                h4 {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 500;
                    font-size: 21px;
                    line-height: 24px;
                    color: black;
                }

                button {
                    width: 170px;
                    height: 40px;
                    border-radius: 40px;
                    border: none;
                    background-color: rgba(102, 192, 93, 1);

                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 16px;
                    color: white;
                }
            }
        }
    }

    &__banner-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        @include mixins.media-query('1120px') {
            justify-content: center;
            gap: 30px;
        }

        @include mixins.media-query('830px') {
            flex-direction: column;
        }


        &__banner {
            display: flex;
            background-color: rgba(102, 192, 93, 1);
            width: 540px;
            height: 212px;
            align-items: center;
            justify-content: center;

            @include mixins.media-query('1120px') {
                width: 350px;
            }

            &__flex {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 455px;

                @include mixins.media-query('1120px') {
                    width: 85%;
                }

                img {
                    width: 140px;
                    height: 106px;

                    @include mixins.media-query('1120px') {
                        width: 20%;
                        height: 20%;
                    }
                }

                &__left {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: left;
                    gap: 25px;

                    @include mixins.media-query('1120px') {
                        gap: 15px;
                    }

                    &__title {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 21px;
                        color: white;
                    }

                    &__text {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        color: white;
                        max-width: 250px;
                        text-align: left;

                        @include mixins.media-query('1120px') {
                            max-width: 185px;
                        }

                    }

                    &__rtext {
                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 19px;
                        color: white;
                        max-width: 141px;
                        text-align: left;
                    }

                    input {
                        border-radius: 30px;
                        max-width: 225px;
                        height: 35px;
                        border: none;
                        padding: 20px;
                        color: rgba(196, 196, 196, 1);
                    }

                    button {
                        width: 170px;
                        height: 40px;
                        background-color: rgba(102, 192, 93, 1);
                        border-radius: 40px;
                        border-color: white;
                        border-style: solid;

                        font-family: 'Roboto', sans-serif;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        color: white;
                    }
                }
            }
        }
    }
}