*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0;
}

section {
  margin: 0;
}

p, h1, h2, h3, h4, button {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: rgb(102, 192, 93);
  letter-spacing: 0.1em;
}

header {
  display: flex;
  flex-direction: column;
  height: 170px;
  align-items: center;
  border-bottom: 1px solid rgb(239, 239, 239);
}
header nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: rgb(239, 239, 239);
}
header nav a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.header-container {
  display: flex;
  flex-direction: row;
  width: 1057px;
  justify-content: space-between;
  height: 120px;
}
.header-container__logo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}
.header-container__logo img {
  width: 80px;
  height: 80px;
}
.header-container__call {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 40px;
}
.header-container__call p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.header-container__call button {
  width: 170px;
  height: 40px;
  border-radius: 40px;
  border-color: rgb(102, 192, 93);
  border-style: solid;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

main nav {
  width: 675px;
  align-self: center;
  height: 79px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main nav a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.supper-chair-section {
  height: 604px;
  background: url("../assets/super-chair.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.supper-chair-section__text-container {
  margin-left: 405px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: left;
  width: 308px;
}
.supper-chair-section__text-container h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: white;
}
.supper-chair-section__text-container p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: white;
}
.supper-chair-section__text-container button {
  width: 170px;
  height: 40px;
  background-color: rgb(102, 192, 93);
  border-radius: 40px;
  border-color: white;
  border-style: solid;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.special-offers-section {
  height: 954px;
  background-color: rgb(239, 239, 239);
  display: flex;
  justify-content: center;
}
.special-offers-section__container {
  margin-top: 80px;
  margin-bottom: 132px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.special-offers-section__container h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}
.special-offers-section__container__item-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.special-offers-section__container__item-container__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  width: 255px;
  height: 363px;
}
.special-offers-section__container__item-container__item img {
  width: 125px;
  height: 166px;
}
.special-offers-section__container__item-container__item p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgb(51, 51, 51);
  width: 195px;
  text-align: center;
}
.special-offers-section__container__item-container__item h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 21px;
  line-height: 24px;
  color: black;
}
.special-offers-section__container__item-container__item button {
  width: 170px;
  height: 40px;
  border-radius: 40px;
  border: none;
  background-color: rgb(102, 192, 93);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
}
.special-offers-section__banner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.special-offers-section__banner-container__banner {
  display: flex;
  background-color: rgb(102, 192, 93);
  width: 540px;
  height: 212px;
  align-items: center;
  justify-content: center;
}
.special-offers-section__banner-container__banner__flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 455px;
}
.special-offers-section__banner-container__banner__flex img {
  width: 140px;
  height: 106px;
}
.special-offers-section__banner-container__banner__flex__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 25px;
}
.special-offers-section__banner-container__banner__flex__left__title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: white;
}
.special-offers-section__banner-container__banner__flex__left__text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: white;
  max-width: 250px;
  text-align: left;
}
.special-offers-section__banner-container__banner__flex__left__rtext {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: white;
  max-width: 141px;
  text-align: left;
}
.special-offers-section__banner-container__banner__flex__left input {
  border-radius: 30px;
  max-width: 225px;
  height: 35px;
  border: none;
  padding: 20px;
  color: rgb(196, 196, 196);
}
.special-offers-section__banner-container__banner__flex__left button {
  width: 170px;
  height: 40px;
  background-color: rgb(102, 192, 93);
  border-radius: 40px;
  border-color: white;
  border-style: solid;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
}/*# sourceMappingURL=style.css.map */